.container-number
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: calc(100px*3 + 4px);
}

.Number{
    margin-bottom: 3px;
    margin-top : 2px;
}

.Reset{
    margin: 2px;
}

.Result{
    margin-top : 2rem;
}